/* Reset sencillo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fondo general oscuro y texto claro */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #111111;
  color: #f5f5f5;
}

/* Enlaces sin subrayado por defecto */
a {
  text-decoration: none;
}

/* Para que el contenedor #app ocupe toda la pantalla */
#app {
  min-height: 100vh;
}
